<div class="flex flex-col gap-5 h-full overflow-hidden">
  <label class="input input-bordered flex items-center gap-2">
    <input type="text" class="grow" placeholder="Search"  [(ngModel)]="searchQuery"/>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="w-4 h-4 opacity-70"><path fill-rule="evenodd" d="M9.965 11.026a5 5 0 1 1 1.06-1.06l2.755 2.754a.75.75 0 1 1-1.06 1.06l-2.755-2.754ZM10.5 7a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Z" clip-rule="evenodd" /></svg>
  </label>
  <div class="grid grid-cols-3 gap-4 overflow-y-auto">
    <div *ngFor="let item of filteredHiraganaItems" class="card bg-base-200 shadow-xl">
      <div class="card-body flex flex-col justify-center items-center">
        <h2 class="card-title">{{ item.hiragana }}</h2>
        <p>{{ item.english }}</p>
      </div>
    </div>
  </div>
</div>
