<ul class="menu bg-base-200 w-56 rounded-box h-full">
  <li class="menu-title">      
    <h1 class="p-2 text-center font-bold">
      <span class="text-4xl font-bold">日本語</span>
      <span class="text-xl font-normal"> Library</span>
    </h1>
  </li>
  <li>
    <a routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
  </li>
  <li>
    <a routerLink="/phrase-library" routerLinkActive="active">Phrase Library</a>
  </li>
  <li>
    <a routerLink="/japanese-characters" routerLinkActive="active">Japanese Characters</a>
  </li>
</ul>